.hidden {
 visibility: hidden;
 width: 0px;
 height: 0px;
 margin: 0px;
 padding: 0px;
 border-style: none;
 border-width: 0px;
 max-width: 0px;
 max-height: 0px;
 
}

body{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	font-size:.75em;
	font-family:'Open Sans',"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:#fff;
	width:auto;
	height:auto;
	background-image:url(images/wood2.png);
	margin:0;

}

#campogioco{
	position:relative;
	top:0px;
	left:auto;
	width:1024px;
	height:750px;
	//background-image:url(images/wood2.png);
	margin:0px  auto 0px;
	

}

#campoesamina{
	position:absolute;
	top:0px;
	left:0px;
	width:1000px;
	height:750px;
	background-image:url(images/wood2.png);
	margin:0px  auto 0px;
	z-index:50000;
	display:none;

}



h1,h2,h3,h4,h5,h6{
	text-align:center
}





.campo{
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;	

	border-style:solid;
	border-color:#888888;
	border-width:3px 6px;
	color:#888888;
	position:absolute;
}


.etichetta{
	position:absolute;
	color:#888888;

	font-size:50px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	text-shadow:green 4px 4px 2px
	

}


.card{
	border-radius:9px;
	-ms-border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-khtml-border-radius:9px;
	-moz-border-radius:9px;
	background-image:url(images/conjollyplus.png);
	position:absolute;
	cursor:pointer;
}

.cardselected{
	background-image:url(images/conjollyselplus.png);
	
	
}



.pulsante{
	font-size:25px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:black;
	text-align:center;
	border-radius:9px;
	width:40px;
	height:40px;
	position:absolute;
	cursor:pointer;
	background-image:url(images/tappetoverdechiaro.png);
}

.pulsante2{
	border-style:solid;
	border-color:#888888;
	padding:2px;
	font-size:22px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:#8888;
	text-align:center;
	border-radius:9px;
	width:126px;
	height:36px;
	position:absolute;
	cursor:pointer;
	background-size: 130px 40px;
	background-image:url(images/wbutton.png);
	
}
.spartito{
	border-style:solid;
	border-color:#888888;
	border-radius:0px;
	position:absolute;
	cursor:pointer;
	background:#A0522D

	
}

.barra{
	border-style:solid;
	border-color:#888888;
	padding:2px;
	font-size:22px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	text-align:center;
	border-radius:9px;
	height:36px;
	position:absolute;
	cursor:pointer;
	
}

.barretta{
	border-style:solid;
	border-color:#888888;
	border-radius:0px;
	position:absolute;
	top:100px;
	cursor:pointer;
	background:#500000;
	
}

.barrettina{
	position:absolute;
	cursor:pointer;
	
}


.pulsanteazz{
	
	border-style:solid;
	border-color:#888888;
	padding:2px;
	font-size:14px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:#8888oo;
	text-align:center;
	border-radius:9px;
	width:100px;
	height:20px;
	position:absolute;
	cursor:pointer;
	background-size: 130px 40px;
	background-image:url(images/wbutton.png);
}


.pulsante3{
	
	font-size:10px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:black;
	text-align:center;
	border-radius:9px;
	width:40px;
	height:40px;
	position:absolute;
	cursor:pointer;
	background-image:url(images/tappetoverdechiaro.png);
}




.digit {
	
	position:absolute;
	cursor:pointer;
	width:40px;
	height:45px;
	background-size: 40px 450px;
	background-image:url(images/numeridorovr.png);  
}

.digit1 {
	
	position:absolute;
	cursor:pointer;
	width:27px;
	height:40px; 
	background-size: 27px 400px;
	background-image:url(images/numeridorovr.png);  
}

.digitx {
	
	position:absolute;
	cursor:pointer;
	background-image:url(images/numeridorovr.png);
}


.digit2 {
	
	position:absolute;
	cursor:pointer;
	width:14px;
	height:22px;
	background-size: 14px 220px;
	background-image:url(images/numeridorovr.png);  
}

.contatore {
	
	position:absolute;
	cursor:pointer;
}


.totalizzatore {
	
	position:absolute;
	cursor:pointer;
	top:100px;
	left:880px;

	width:130px;
	height:300px;

	background-size: 130px 300px;
	background-image:url(images/mtotalizzatore.png);  
	
}


#schermo{
	position:absolute;
	top:0px;
	left:auto;
	width:1024px;
	height:750px; 
	background-image:url(images/nero.png); 
	z-index:30000;
	margin:0px  auto 0px;
	opacity:0.6;
	display:none; 

}


#opzioni{
	font-size:15px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:white;
	border-style:solid;
	border-radius:9px;
	border-color:#888888;

	//z-index:40000;
	position:absolute;
	width:240px;
	height:600px;
	left:-250px;
	top:0px;
	//background-color:green;
}

#metronomo{
	font-size:15px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:white;
	border-style:solid;
	border-radius:9px;
	border-color:#888888;

	//z-index:40000;
	position:absolute;
	width:240px;
	height:600px;
	left:1020px;
	top:0px;
	//background-color:green;
}


#dati{
	font-size:15px;
	font-family:Slackey,"Lucida Grande","Lucida Sans Unicode",Tahoma,Geneva,Arial,Verdana,sans-serif;
	color:white;
	border-style:solid;
	border-radius:9px;
	border-color:#888888;

	//z-index:40000;
	position:absolute;
	width:396px;
	height:350px;
	left:304px;
	top:250px;
	//background-color:green;
}

#canvasdati{


	//z-index:40000;
	position:absolute;
	left:0px;
	top:0px;
	//background-color:green;
}

#canvasmetronomo{


	//z-index:40000;
	position:absolute;
	left:0px;
	top:50px;
	//background-color:green;
}
.form {
	
	//z-index:40000;
	position:absolute;
	width:500px;
	height:280px;
	left:250px;
	top:200px;
	background-size: 500px 280px;
	display:none;
}


.formistruzioni {
	
	//z-index:40000;
	line-height:140%;
	border-style:solid;
	
	border-radius:9px;
	font-size:12px;

	position:absolute;
	width:700px;
	left:150px;
	top:50px;
	padding:25px;
	background-size: 500px 280px;
	background-color:green;
	display:none;
}  

#testoallerta {
	
	font-family: "Comic Sans MS", cursive, sans-serif;
	line-height:140%;
	border-style:solid;
	
	border-radius:9px;
	font-size:24px;
	color:orange;

	position:absolute;
	width:200px;
	left:210px;
	top:20px;
	padding:25px;

}  

	
.formistruzioni button{

	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	border:solid;
	position:relative;
	left:300px;
	width:100px;
	height:36px;
	//z-index:50000;

	
	
}

.form button{

	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	border:solid;
	position:absolute;
	width:100px;
	height:36px;
	top:240px;
	//z-index:50000;
	
	
}

#accessi{
	position:absolute;
	top:700px;
	left:12px;
	display:none;	
}